:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.globe {
    background: url("src/assets/img/mundi.png");
    background-repeat: repeat-x;
    background-color: rgb(0, 20, 110);
    animation: animation 50s linear infinite;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover;
}

@-webkit-keyframes animation {
  100%{
    background-position:  right 600px bottom 0;
  }
}

@keyframes animation {
    100%{
      background-position:  right 600px bottom 0; 
    }
}